* {
    margin:0;
    padding:0;
    border:0;

    body{background-color: ghostwhite;}
    h2{
        font-size:14px;
        color:#777777;
        line-height: 55px;
        height: 55px;
        background-color: black;
    }

    h1{
        font-size: 72px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        height: 100px;
        line-height: 400px;
        background-color: #777777;
        color: #ffffff;

    }

    h3{
        display: none;

    }

    h4{
        font-size:24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:darkcyan;
        margin:24px;
        clear:both;
    }

    p{
        font-family: Arial, Helvetica, sans-serif;
        color:#777777;
        width:250px;
        margin:24px;
    }

    li{
        border:solid 1px #cccccc;

        color:#ffffff;
        background-color: darkcyan;
        width:150px;
        margin:12px;
        padding:8px;
        float:left;
    }

    .preco{
        color:royalblue;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 18px;
    }

}